#text-component {
    background-image: url('../../public/emotions.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    text-align: left;
    margin: auto;
    margin-top: 5%;
    max-width: 50%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
#text-component h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
#text-component h3 {
    margin-top: 20px;
    color: #666;
  }
  
#text-component .MuiInputBase-input {
    font-size: 16px;
    padding: 12px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
#text-component .MuiInputBase-input:focus {
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 2px #4db6ac;
  }
  
  